<!-- <div class = "container-fluid bcgr-custom marg-top-zero">
    <div class = "row justify-content-between logo-sm">
        <div class = "md-col-5 marg-top-one hidden-xs-down" >
            <a href = "#about"> <p class = "text-start text-muted">
                <span>Fabrica</span>
                <img src="https://s3.amazonaws.com/fabrika-kurs/F.png" width="35" height="35" class="d-inline-block " >
                <span>Курсовых</span></p></a>
        </div>

                <li><a placement="bottom" class = "single hidden-xs-down"
              ngbPopover="мтс: 751-55-51  велком: 347-12-22" popoverTitle="Контакты">
                <i class="fa fa-phone-square" aria-hidden="true" ></i></a></li>
                <li><a placement="right" class = "single hidden-sm-up"
              ngbPopover="мтс: 751-55-51  велком: 347-12-22" popoverTitle="Контакты">
               <i class="fa fa-phone-square" aria-hidden="true" ></i></a></li>


                <li><a class="vk" name = "contacts" href="https://vk.com/vikakurs" target="_blank"><i class="fa fa-vk" aria-hidden="true"></i></a></li>
                <li><a class="ok" href="https://ok.ru/profile/574590333065" target="_blank"><i class="fa fa-odnoklassniki" aria-hidden="true"></i></a></li>
                <li><a class="fb" href="https://www.facebook.com/groups/872663902899240/" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>

    </div>
</div> -->

<nav class="navbar navbar-toggleable-sm navbar-light bcgr-white min-marg-top ">
  <button class="navbar-toggler min-marg-top" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon min-marg-top"></span>
  </button>
    <!-- <a class="navbar-brand" href="#">Navbar</a> -->

    <a href = "#about" class="navbar-brand marg-top-one"> <p class = "text-start text-muted">
        <span>Fabrica</span>
        <img src="https://s3.amazonaws.com/fabrika-kurs/F.png" width="35" height="35" class="d-inline-block " >
        <span>Курсовых</span></p></a>

  <div class="collapse navbar-collapse min-marg-top" id="navbarTogglerDemo01">
       <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          <li *ngFor = "let item of myLinks" class="nav-item main-link">
            <a class="nav-link min-marg-top onHow" href="#{{item.rlink}}" (click) = "onSelect(item)" [class.active] = "item===selectedLink"><h1 class = "fontS display-4">{{item.name}}</h1></a>
          </li>
          <ul class = "socium marg-top-one">
              <li *ngFor = "let icon of icons" ><a class="{{icon.className}}" name = "{{icon.nameStr}}" href="#{{icon.link}}" target="_blank"><i class="{{icon.iClass}}" aria-hidden="true"></i></a></li>
</ul>
        </ul>
  </div>
</nav>
<div class = "card img-thumbnail">
    <ngbd-carousel-basic></ngbd-carousel-basic>
</div>
<br>

<kurs></kurs>
<site-links></site-links>
<diplom></diplom>
<price></price>
<about></about>
<video-youtube></video-youtube>
<vk></vk>
<!-- Yandex.Metrika informer -->
<a href="https://metrika.yandex.ru/stat/?id=45366759&amp;from=informer"
target="_blank" rel="nofollow"><img src="https://informer.yandex.ru/informer/45366759/3_1_FFFFFFFF_EFEFEFFF_0_pageviews"
style="width:88px; height:31px; border:0;" alt="Яндекс.Метрика" title="Яндекс.Метрика: данные за сегодня (просмотры, визиты и уникальные посетители)" class="ym-advanced-informer" data-cid="45366759" data-lang="ru" /></a>
<!-- /Yandex.Metrika informer -->
