<footer>
    <div class="foot-wrap">
        <div class="para1">
            <p>Вся интеллектуальная информация портала принадлежит компании "Фабрика Курсовых". Все права защищены. Несанкционированное использование материалов портала запрещено.</p>
        </div>
        <hr>
        <div class="para2">
            <p>Индивидуальный предприниматель Исаевский Дмитрий Викторович. Свидетельство о государственной регистрации №190593899 </p>
        </div>
        <hr>
        <div class="down">
            <p><b>Телефоны:</b>	</p>
            <ul >
                <li>+375-29-751-55-51;</li>
                <li>+375-29-347-12-22;</li>
                <li>+375-17-362-99-00;</li>
            </ul>
            <p><b>Email:</b> 7515551@mail.ru</p>
            <p><b>Skype:</b> dv-dmitry</p>
        </div>
    </div>

    <p class="last"><b>Фабрика Курсовых 2005-2017</b></p>
</footer>
