<br>

<div class = "container-fluid">
    <div class = "row justify-content-center">
        <div class = "col-md-12">
            <div class="card text-center">
              <h1 class="fontBiger hidden-xs-down text-muted display-4">Используются в каждой работе:</h1>
            </div>
            <br>
        </div>
        <div class="col-sm-3 col-md-2 onHow hidden-xs-down" *ngFor = "let item of siteLinks" >
              <div class="card marg">
                <a href = {{item.hrefTo}}><img class="card-img-bottom img-thumbnail" src={{item.pictSrc}}></a>
              </div>
        </div>
    </div>
  </div>
<br>
