<div class="container-fluid lectures">
    <div class = "row justify-content-center">
        <div class = "col-md-12 ">
            <div class="card text-center bg-info">
              <h1 class="fontTooBiger display-4 fontPink"><a name = "about">О нас</a></h1>
            </div>
        </div>
    </div>
</div>
<br>
<div class = "container-fluid bcgr-white" *ngFor = "let item of picturesAbout">
    <div class = "row justify-content-around">
        <div class="col-md-8" >
            <br>
            <h1 class = "fontBiger text-warning display-4 ">{{item.name}}</h1>
            <p class = "fontBig text-faded display-4 ">{{item.text}}</p>
            <br>
        </div>
        <div class="col-md-4 col-sm-9">
            <div class="card-img-top marg">
               <img class="img-thumbnail" src={{item.pictLink}}>
               <br>
           </div>
        </div>
    </div>
</div>
<br>
