<div class="container-fluid lectures">
    <div class = "row justify-content-center">
        <div class = "col-md-12 ">
            <div class="card text-center bg-info">
              <h1 class="fontTooBiger display-4 fontPink"><a name = "about">Контакты</a></h1>
            </div>
        </div>
    </div>
</div>
<br>
<div class = "container-fluid bcgr-white">
    <div class = "row justify-content-around">
        <div class="col-md-3" >
            <br>
              <div class="down fontBig text-faded display-4">
                  <p ><b>Телефоны:</b></p>
                  <ul >
                      <li>+375-29-751-55-51;</li>
                      <li>+375-29-347-12-22;</li>
                      <li>+375-17-362-99-00;</li>
                  </ul>
                  <p><b>Email:</b> 7515551@mail.ru</p>
                  <p><b>Skype:</b> dv-dmitry</p>
              </div>
            <br>
        </div>
        <div class="col-md-9">
            <div class="card-img-top marg" id = "map">
            <app-map></app-map>
           </div>
        </div>
    </div>
</div>
<br>
