<ngb-tabset>
  <ngb-tab *ngFor = "let item of kurs" title={{item.name}}>
    <ng-template ngbTabContent>
        <div class = "container-fluid bcgr-white">
            <div class = "row justify-content-around">
                <div class="col-md-7">
                    <br>
                        <p class = "fontBig text-faded display-4 ">{{item.text}}</p>
                    <br>
                </div>
                <div class="col-md-4">
                    <br>
                    <div class="card-img-top marg">
                       <img class="img-thumbnail" src={{item.pictLink}}>
                   </div>
                   <br>
                </div>
            </div>
        </div>
    </ng-template>
  </ngb-tab>
</ngb-tabset>
<br>
<!-- <ngbd-modal-basic></ngbd-modal-basic> -->
<br>
<div class="container-fluid lectures">
    <div class = "row justify-content-center">
        <div class = "col-md-12">
            <div class="card text-center">
              <h1 class="text-muted fontTooBiger display-4">Структура стандартной курсовой работы:</h1>
            </div>
<br>
        <div class = "container-fluid">
            <div class = "row justify-content-center">
                <div class="col-md-4 card " *ngFor = "let item of kursStruct">
                  <div class="bcgr-grey fontBiger display-4">
                        {{item.name}}
                      </div>
                      <div class="card-block">
                        <h1 class="card-text fontBig display-4 ">{{item.text}}</h1>
                      </div>
                </div>
            </div>
        </div>
        <br>

        <!-- <site-links></site-links> leftover-->
